teneo_*.orig.tar.gz
debian/debhelper-build-stamp
debian/autoreconf.*
id_ed25519
id_ed25519.pub
*.a
*.cma
*.cmi
*.cmo
*.cmt
*.cmti
*.cmx
*.cmxa
*.la
*.lai
*.lo
*.log
*.o
*.so
*.swp
*.test
*.trs
*_TEST
*~
.deps
.libs
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/config.h
stamp-h1
teneo
test-driver
tests/*.tmp.buffer
