Source: passphrase-identity
Section: net
Priority: optional
Maintainer: Alexander Færøy <ahf@0x90.dk>
Standards-Version: 3.9.7
Build-Depends: libtool (>= 2.4.6),
               pkg-config (>= 0.29),
               libsodium-dev (>= 1.0.8-5),
               autoconf (>= 2.69),
               debhelper (>= 9.20160115),
               dh-autoreconf (>= 11),
               dh-strip-nondeterminism (>= 0.015)

Package: passphrase-identity
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Regenerable ed25519 keys for OpenSSH
 Passphrase-identity allows you to deterministically generate an ed25519 key pair for OpenSSH
 from a set of parameters. This allows you to (re)generate your key pair on a
 computer which, for example, lacks persistent storage.
